.header {
    width: 100%;
    height: 5rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    &__logo{
        background-image: url("../images/bg_logo.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100%;
        width: 18rem;
        height: 15rem;
        display: block;
        padding: 2rem 0 0 3rem;

        img{
            display: block;
            width: 8rem;
        }
    }

    &__inline-menu{
        .list-menu{
            li{
                .header__menu-item{
                    font-family: 'Press Style';
                }
            }
        }
    }

    &__icons{
        margin-right: 2rem;
    }



}