
<section class="banner-home">
    <img src="{{ 'bg_header_title.png' | asset_img_url: 'master' }}" alt="">
</section>


{% schema %}
{
  "name": "Banner Home",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
    
  ],
  "presets": [
   
  ]
}
{% endschema %}
