
<section class="banner-home">
    <img src="{{ 'bg_header_title.png' | asset_img_url: 'master' }}" alt="">
</section>


{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "hero",
      "name": "Hero Banner",
      "settings": [
        {
          "id": "bannerImageDesktop",
          "type": "image_picker",
          "label": "Banner Image Desktop"
        }
      ]
    }
  ],
  "presets": [
   
  ]
}
{% endschema %}
