
<section class="banner-home">
    <img class="banner_desktop" src="{{section.settings.bannerImageDesktop |  img_url: 'master'}}" alt="">
    <img class="banner_mobile" src="{{section.settings.bannerImageMobile |  img_url: 'master'}}" alt="">
</section>


{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "settings": [
    {
      "id": "bannerImageDesktop",
      "type": "image_picker",
      "label": "Banner Image Desktop"
    },
    {
      "id": "bannerImageMobile",
      "type": "image_picker",
      "label": "Banner Image Mobile"
    }
  ],
  "blocks": [
   
  ],
  "presets": [
   
  ]
}
{% endschema %}
