.collections-list{
    &__content{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-top: -10rem;
    }
        &__item{
            width: 33.3%;
            min-height: 50rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }   
}