.collections-list{
    &__content{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-top: -13vw;
    }
        &__item{
            width: 33.3%;
            min-height: 50rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: flex;
            justify-content: center;
            align-items: center;

            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                width: 100%;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .bgx{
                    display: block;
                    width: 90%;
                    margin: 0 auto;
                    opacity: 0;
                    position: absolute;
                }
                h2{
                    font-family: 'Press Style';
                    font-size: 6rem;
                    position: relative;
                }
                button{
                    cursor: pointer;
                    position: relative;
                }
            }
            &:hover{
                h2{
                    color: #fff;
                }
                .btn-black{
                    border: solid 1px #fff;
                    color: #fff;
                }
                .info .bgx{
                    opacity: 1;
                }
            }
        }   
}



.collection-header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    &__title{
        background-size: contain;
        background-repeat: no-repeat;
        width: 500px;
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        align-items: center;
        h1{
            color: #fff;
            font-family: 'Press Style';
            font-size: 10rem;
            letter-spacing: 1rem;
        }
    }
}


.collections-page{
    margin-top: -13vw;
    &__option{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40rem;
        margin-top: -10vw;
        transition: linear 0.2s;
        &:not(:first-child){
            position: relative;
        }
        .image{
            height: 100%;
            padding-top: 8rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
                filter: grayscale(1);
            }
        }
        .name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
            h2{
                font-family: 'Press Style';
                font-size: 9rem;
                width: 500px;
                text-align: center;
                letter-spacing: 0.2rem;
            }
        }

        &:hover{
            .image{
                img{
                    filter: grayscale(0);
                }
            }
        }
    }
}