.collections-list{
    &__content{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-top: -13vw;
    }
        &__item{
            width: 33.3%;
            min-height: 50rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                .bgx{
                    display: block;
                    width: 90%;
                    margin: 0 auto;
                }
                h2{
                    font-family: 'BentonSans';
                }
                button{
                    cursor: pointer;
                }
            }
            &:hover{
                .btn-black{
                    border: white;
                    color: white;
                }
            }
        }   
}