.contact{
    display: flex;
    justify-content: center;
    align-items: stretch;
    &__item{
        h2{
            color: #fff;
            font-size: 3rem;
            font-family: 'Press Style';
        }
    }
}